---
layout: default
title: 文章列表
---

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">所有文章</h3>
	</div>
	<div class="panel-body">
		<ul>
			{% for post in site.posts %}
			<li>
				<div><h3><a href="{{ post.url }}">{{ post.title }}</a></h3></div>
				<div>
					<span><span class="glyphicon glyphicon-tags"></span>
							标签:
							{% for t in post.tags %}
							<a href="js:;">{{t}}</a>
							{% endfor %}</span>
					|
						<span>
							<span class="glyphicon glyphicon-calendar"></span>
							发布日期: {{ post.date | date: "%Y-%m-%d" }}</span>
					|
					分类: <a href="{{ site.baseurl }}categories/{{ post.category }}">{{ post.category }}</a>
					|
					<a href="{{ post.url }}#disqus_thread"></a>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
