<footer class="docs-text-styling docs-footer mdl-mini-footer mdl-color--grey-900">
    <div class="center-text fa-icons-container">
        <a id="google-plus-link" href="https://plus.google.com/+ShiweiGong" target="_blank"><i class="fa fa-google-plus"></i></a>
        <div class="mdl-tooltip" for="google-plus-link">
            我的Google+, 这里可能会分享一些有趣的内容.
        </div>
        <a id="weibo-link" href="http://weibo.com/gongshiwei/" target="_blank"><i class="fa fa-weibo"></i></a>
        <div class="mdl-tooltip" for="weibo-link">
            我的微博, 会从豆瓣同步一些内容过来. 有时会转发一些抽奖微博.
        </div>
        <a id="github-link" href="https://github.com/gongshw/" target="_blank"><i class="fa fa-github"></i></a>
        <div class="mdl-tooltip" for="github-link">
            我的github, 别看.
        </div>
    </div>
    <div class="center-text">
        <span>友情链接:</span>
        <a href="http://abbeychenxi.net/">Abbey in Cradle Studio</a>
        <a href="http://www.chenjieyu.com/">Jenny's Secret Graden</a>
    </div>
    </div>
</footer>
