<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
improve your experience.</p>
<![endif]-->
<header class="mdl-layout__header mdl-layout__header--waterfall .mdl-color--grey-100">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title"><a id="site-title" href="{{ site.baseurl }}">编程狗窝</a></span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
            <input class="st-default-search-input" type="text" id="search_text" />
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">编程狗窝</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ site.baseurl }}">主页</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}all.html">所有文章</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}about.html">关于</a>
    </nav>
    <nav class="mdl-navigation">
        <span class="nav-sub-title">文章分类</span> {% for category in site.categories %}
        <a class="mdl-navigation__link mdl-badge" data-badge="{{ category | last | size }}" href="{{ site.baseurl }}categories/{{ category | first }}/">{{ category | first }} ({{ category | last | size }})</a> {% endfor %}
    </nav>
</div>
<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

  _st('install','EUxTXyTowSpa-ZzSewru','2.0.0');
</script>
