{% include html_tag.html %}
{% include head_tag.html %}
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
	{% include header.html %}
	<main class="mdl-layout__content" data-swiftype-index="true" data-swiftype-name="body" data-swiftype-type="text">
		<div class="demo-grid-1 mdl-grid">
  			<div class="mdl-cell mdl-cell--3-col">
  			</div>
  			<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-phone">
				{{ content }}
  			</div>
		</div>
		{% include footer.html %}
	</main>
	<!-- /container -->

	{% include footlibs.html %}
</div>
</body>
{% include html_tag_end.html %}
