{% include html_tag.html %}
{% include head_tag.html %}
<body>

{% include header.html %}

<div class="container">
	<!-- Example row of columns -->

	<div class="row">
		<div class="col-lg-12">
			<h2>{{ page.title }}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			{{ content }}
		</div>
		<div class="col-lg-4">
			{% include calendar_widget.html %}
			{% include categories.html %}
			{% include tag_cloud_widget.html %}
			{% include links_widget.html %}
		</div>
	</div>

	{% include footer.html %}
</div>
<!-- /container -->

{% include footlibs.html %}
</body>
{% include html_tag_end.html %}
