{% include html_tag.html %}
{% include head_tag.html %}
<body xmlns="http://www.w3.org/1999/html">

{% include header.html %}

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-lg-12">
			<h2>{{ page.title }}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a href="{{ site.baseurl }}">首页</a>&gt;
						<a href="{{ site.baseurl }}categories/{{ page.category }}">分类: {{ page.category }}</a>
					</h3>
				</div>
				<div class="panel-body">
					<div>{{ content }}</div>
					<hr>
					<div>

						<span><span class="glyphicon glyphicon-tags"></span>
							标签:
							{% for t in page.tags %}
							<a href="{{ site.baseurl }}tag/{{t}}">{{t}}</a>
							{% endfor %}</span>
						|
						<span>
							<span class="glyphicon glyphicon-calendar"></span>
							发布日期: {{ page.date | date: "%Y-%m-%d" }}</span>
						|
						<span>
							<span class="glyphicon glyphicon-link"></span>
							<a href="{{ page.url}}">本文链接</a></span>
					</div>

					<div>

					</div>

				</div>
			</div>


			{% include disqus_comment.html %}

		</div>
		<div class="col-lg-4">
			{% include calendar_widget.html %}
			{% include categories.html %}
		</div>
	</div>
	{% include footer.html %}

</div>
<!-- /container -->

{% include footlibs.html %}

{% include ga.html %}

{% include disqus.html %}
</body>
{% include html_tag_end.html %}
