{% include html_tag.html %}
{% include head_tag.html %}

<body xmlns="http://www.w3.org/1999/html">
    <div class="mdl-layout mdl-js-layout">
        {% include header.html %}
        <div class="post-ribbon"></div>
        <main class="mdl-layout__content post-main">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                <div class="post-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                    <div class="post-crumb">
                        <a href="{{ site.baseurl }}">首页</a> &gt;
                        <a href="{{ site.baseurl }}categories/{{ page.category }}">{{ page.category }}</a> &gt;
                        <a href="{{ page.url}}">{{ page.title }}</a>
                    </div>
                    <h2>{{ page.title }}</h2>

                    <div>{{ content }}</div>

                    <div class="pull-right grey-text-container">
                        <span><i class="fa fa-tags"></i> {% for t in page.tags %}
                        <a href="{{ site.baseurl }}tag/{{t}}">{{t}}</a> {% endfor %}</span>
                        |
                        <span><i class="fa fa-calendar"></i> {{ page.date | date: "%Y-%m-%d" }}</span>
                    </div>

                    {% include duoshuo_comment.html %}
                </div>
            </div>
            {% include footer.html %} 
        </main>
        <!-- /container -->
        {% include footlibs.html %}
    </div>
</body>
{% include html_tag_end.html %}
